<!DOCTYPE html>
<html lang="en-US">
<head>
<title>eCommerce Shipping Solution provider EaseMyShip Login</title>
<meta charset="utf-8">
<link rel="shortcut icon" href="images/logo.jpg" />
</head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<!-- load ngmessages -->

<style>
html {
	background: url(images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.div-text {
	overflow: auto;
	background: transparent;
	background-image: url('images/bg2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%
}
</style>
<body>

	<section id="cover">
		<div ng-app="loginApp" ng-controller="loginCtrl"
			class="container-fluid div-text" id="cover-caption"
			style="margin-top: 10%">
			<div id="container" class="container">
				<div class="row">
					<div class="col-sm-10 offset-sm-1 text-center">
						<h5 class="display-3"
							style="color: gold; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">Login</h5>
						<br>
						<div class="info-form">
							<form action="/login" method="POST" name="loginForm"
								class="justify-content-center">
								<div class="form-group">
									<label class="sr-only">Username</label> <input type="text"
										name="username" ng-model="username" class="form-control" required
										placeholder="jane.doe@example.com">
								</div>
								<div class="form-group">
									<label class="sr-only">Password</label> <input type="password"
										name="password" ng-model="password" class="form-control"
										required>
								</div>
								<button type="submit" class="btn btn-success" value="login">okay, go!</button>
							</form>
							<span style="color: red; font-weight: 500" ng-if="value">{{title}}
								{{statusbody}}</span>
						</div>
						<br> <a href="#nav-main"
							class="btn btn-secondary-outline btn-sm" role="button">↓</a>

					</div>
				</div>
			</div>

		</div>


	</section>

	<script src="scripts/login.js"></script>
</body>
</html>